<div class="dashboard-container">
  <app-button
    [sizeButton]="sizeButton.CENTRAL"
    [typeButton]="typeButton.SECONDARY"
    type="submit"
    textButton="Add New Board"
    (click)="modalForm=true"
  ></app-button>
  <app-add-new-board *ngIf="modalForm" (closeForm)="modalForm = false"></app-add-new-board>
  <div class="boards-wrapper" *ngFor="let newBoard of boards$ | async">
    <app-board
      [board]="newBoard"
      (deleteBoardById)="onDeleteOneBoard($event)"
      (redirectToTasks)="onRedirectToTasks($event)"
    >
    </app-board>
  </div>
</div>
